<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main>
        <div class="center">
            <p>Sign up</p>
         </div>
        <form class="login-form" action="/signUp" method="POST" novalidate>
            <div class="form-control">
                <label for="email">E-Mail</label>
                <input class="<%= validationStyles.includes('email') ? 'invalid' : '' %>" type="email" name="email" id="email" value="<%= values.email %>">
            </div>
            <div class="form-control">
                <label for="password">Password</label>
                <input class="<%= validationStyles.includes('password') ? 'invalid' : '' %>" type="password" name="password" id="password" value="<%= values.password %>">
            </div>
            <div class="form-control">
                <label for="confirmPassword">Confirm Password</label>
                <input class="<%= validationStyles.includes('confirmPassword') ? 'invalid' : '' %>" type="password" name="confirmPassword" id="confirmPassword" value="<%= values.confirmPassword %>">
            </div>
            <% if(errorMesage) { %> <div class="error-msg"><%= errorMesage %></div> <% } %>
            <button class="btn" type="submit">signUp</button>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>"  />
        </form>
    </main>
<%- include('../includes/end.ejs') %>